
body {
        background-color: #eee;
}

/* NAVBAR */
nav {
    width:100%;
}

.navbar {
    background-color: #e74c3c;
    border-width: 0;
    margin-bottom: 0;
    z-index: 2;
}

.nav > li > a {
    color: #ecf0f1 !important;
    background-color: #e74c3c;
}

.nav > li > a:hover {
    background-color: #c0392b !important;
}

.nav > li.open > a {
    color: #ecf0f1;
    background-color: #c0392b !important;
}

nav ul.navbar-right {
    margin-right: 0;
}

.navbar-header {
    width: 250px;
    margin: 0;
    background-color: #c0392b;
    color: #ecf0f1 !important;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar-header-close {
    width: 100% !important;
    background-color: #e74c3c;
}

.navbar-brand {
    margin-left: 10%;
    color: #ecf0f1 !important;
}

.fixed-nav {
    position: fixed;
    top: 0;
}

/* SIDEBAR */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #34495e;
    padding: 50px 0 0 0;
    z-index: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.sidebar-close {
    left: -250px !important;
}

.fixed-sidebar {
    position: fixed;
    top: 0;
}

.sb-user-info:hover,
.sb-user-info:active,
.sb-user-info:focus {
    outline: 0;
}

.sb-user-img {
    width: 45px;
    margin: 20px 25px;
    background-color: white;
}

.sb-user-info {
    color: #ecf0f1;
    font-size: medium;
}

.sb-user-info:hover {
    color: white;
    text-decoration: none;
}

/* ITEMS */

.sb-items {
    list-style-type: none;
    padding: 0px;
}

li.sb-item {
    height: 40px;
    border-left: 3px solid #34495e;
}

li.sb-item:hover {
    border-left-color: #c0392b;
    background-color: #2C3E50;
}

li.sb-item > a {
    display: block;
    width: 100%;
    padding: 10px 10px;

    text-align: center;
    text-decoration: none;
    text-align: left;
    color: #ecf0f1;
}

li.sb-item > a:hover {
    color: white;
}

li.sb-item > a:hover,
li.sb-item > a:active,
li.sb-item > a:focus {
    outline: 0;
}

.sb-header {
    background-color: #27394b;
    color: #bdc3c7;
    height: 25px;
    padding: 5px 10px;
    font-size: 11px;
}

li.sb-item i.fa {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

/* CONTENTS */

.contents {
    margin-left: 250px;
    padding: 60px 10px 10px 10px;
    background-color: #eee;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.contents-close {
    margin-left: 0 !important;
}

/* TABLES */
table {
    background-color: #fff;
    margin: 0 !important;
}

table > thead {
    background-color: #f0f0f0;
    color: #222;
}

table th:hover {
    background-color: #e8e8e8;
    color: #222;
}

.rowSelected {
    background-color: #f5f5f5   ;
}

.mark-control {
    width: 55px;
    height: 30px;
}

/* CARDS */
.card-title {
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
    padding-left: 6px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.card-title > a {
    color: inherit;
    text-decoration: none;
}

.card {

    border: 1px solid rgba(0, 0, 0, 0.18);
    background-color: #fff;
    margin: 0 0 20px 0;
    padding: 10px;

}

.card-row {
    margin-top: 20px;
}

.card-fixed {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    margin: 0 0 20px 0;
    height: 60px;
    padding: 10px;
    display: block;
}

.card-fixed-reduced {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    margin: 0 0 5px 0;
    height: 45px;
    padding: 0;
    display: block;
}

.card-fixed-active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-fixed-img {
    width: 40px;
    height: 40px;
}

.card-fixed-text {
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
    margin-left: 10px;
    margin-top: 25px;
}

.card-fixed-container {
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

.card-info {
    height: 110px;
}

.card-info-reduced {
    margin-bottom: 5px !important;
    height: 120px;
}

.card-info-title {
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

.card-info-data {
    font-size: 13px;
}

/* DROPDOWN */

.img-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}


/* EXPANDABLE */
.expandable-data {
    padding-left: 15px;
}


/* SEARCHS */
.searchResults {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.searchResult {
    padding: 5px;
    color: #002A80;
    cursor: pointer;
}

.searchResult:hover {
    background-color: #f5f5f5;
}

/* INPUTS */
input[type=file] {
    border: 0;
    height: 30px;
    padding-left: 12px;
    padding-top: 0px;
    box-shadow: none;
}

/* PROFILE */
.prof-img {
    max-height: 230px;
}

.prof-info {
    margin-top: 20px;
}

.prof-info-item {
    margin: 10px;
}

.prof-info-item > span {
    font-weight: bold;
}

/* LOADING */
.img-loading {
    width: 30px;
    height: 30px;
}

/* PAGINATION */
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 15px 0 0 0;
}

ul.pagination li {
    display: inline;
    color: black;
    float: left;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color .2s;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

ul.pagination li.active {
    background-color: #DB3630;
    color: white;
}

ul.pagination li:hover:not(.active) {
    background-color: #ddd;
}

div.pagination-wrapper {
    text-align: center;
}

/* OTHER */
.return-button {
    border: solid rgba(0,0,0,0.2) thin;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.return-button > img {
    width: 20px;
    height: 20px;
}

.report-panel {
    overflow: auto;
    max-height: 100px;
    background-color: #eee;
}

.form-search {
    margin-bottom: 15px;
}

.btn-button {
    margin-bottom: 10px;
}

/* STATS */
canvas {
    margin: 10px 0 10px 0;
}

/* AUXILIAR */
.forbidden {
    cursor: not-allowed;
}

.form-margin-correct {
    margin-bottom: 10px;
}

.form-padding-correct {

}

.no-sel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.with-pointer {
    cursor: pointer;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-sides {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sides-margin {
    margin-left: 5px;
    margin-right: 5px;
}

.no-padding {
    padding: 0 !important;
}

.rotated {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -o-transform: rotate(-90deg); /* Opera */
}

/* USAGE
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}