{% extends '/view/base.html' %}

{% block title %}{{task.name}}{% endblock %}

{% block content %}


    <div class="card-title">{{subject.name}} > {{task.name}}</div>

    <div class="card">
        <div id="loading" class="text-center">
            <img src="/img/loader.gif" class="img-loading" />
        </div>

        <div class="card-row row form-group hide" id="studentSearchGroup">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="studentSearch" name="student"
                       placeholder="Enter the student's name or dni">
            </div>

            <a id="studentSearchButton" class="btn btn-default"><i class="fa fa-search"></i> {{ _("Search") }}</a>

        </div>

        <table class="table table-hover hide" id="studentsTable">
            <thead>
            <tr>
                <th>{{ _("Student name") }}</th>
                <th>{{ _("Student DNI") }}</th>
                <th>{{ _("Search") }}</th>
            </tr>
            </thead>
            <tbody id="studentsTableBody">
            <!--{% for student, mark in students %}
            <tr data-id="{{ student.key.id() }}" class="with-pointer">
                <td>{{ student.name }}</td>
                <td>{{ student.dni }}</td>
                {% if mark == -1 %}
                <td>-</td>
                {% else %}
                <td>{{ mark }}</td>
                {% endif %}
            </tr>
            {% endfor %}-->
            </tbody>
        </table>
        <div id="noStudents" class="hide">{{ _("There aren't students in this subject yet") }}.</div>
        <div id="noStudentsSearch" class="hide">{{ _("There aren't matches") }}.</div>
        <div id="studentsTableButtons" class="pagination-wrapper"></div>
    </div>
{% endblock %}


{% block scripts %}
<script>
    var subId = "{{ subject.key.id() }}";
    var taskId = "{{ task.key.id() }}";
    var mark = "";

    // Deselect a row
    function normRow(row) {
        lastMarkTd = row.children().next().next();
        lastMarkTd.html(mark);
        lastSelected.removeClass("rowSelected");
    }

    // Determine if a mark is valid (numeric from 0 to the maximum mark)
    function validMark(mark) {
        var maxMark = 10;

        try {
            markFloat = parseFloat(mark);
            return markFloat >= 0 && markFloat <= maxMark;
        }catch(err) {
            return false;
        }
    }

    // Fill the view with the data received
    function fillData(tableBody, tableButtons, data) {
        dataSp = data.split("\n\n");

        rows = dataSp[0].split("\n");
        bodyHtml = "";

        buttons = dataSp[1].split("\n");
        buttonsHtml = "<ul class='pagination'>";

        pages = dataSp[2].split("\n");
        leftPage = parseInt(pages[0]);
        rightPage = parseInt(pages[1]);
        curPage = parseInt(pages[2]);
        itemsPerPage = parseInt(pages[3]);

        if(buttons[0] != "-1") buttonsHtml += "<li class='with-pointer pag-button' data-id='" + buttons[0] + "'>&laquo;</li>";
        if(buttons[0] != "-1" || buttons[1] != "-1") {
            for(var i=leftPage; i <= rightPage; i+= itemsPerPage) {
                buttonsHtml += "<li class='with-pointer pag-button" + ((i==curPage)?" active":"") + "' data-id='" + i + "'>" + (i/itemsPerPage+1) + "</li>";
            }
        }
        if(buttons[1] != "-1") buttonsHtml += "<li class='with-pointer pag-button' data-id='" + buttons[1] + "'>&raquo;</li>";

        buttonsHtml += "</ul>";

        for(var r in rows) {
            dataRow = rows[r].split("^^");
            id = dataRow[0];
            name = dataRow[1];
            dni = dataRow[2];
            mark = dataRow[3];

            bodyHtml += '<tr data-id=\"' + id + '\"><td>' + name + '</td><td>' + dni + '</td><td>' + ((mark=='-1')?'-':mark) + '</td></tr>';
        }
        tableBody.html(bodyHtml);
        tableButtons.html(buttonsHtml);
    }

    $(function() {
        initialStudentTableLoad();
    });

    function initialStudentTableLoad() {
        url = "/students/search?t={{ task.key.id() }}&sub=" + subId;


        $.get(url, function (data, status) {
            $("#loading").addClass("hide");
            if(status == "success") {
                if(data != "") {
                    $("#studentsTable").removeClass("hide");
                    $("#studentSearchGroup").removeClass("hide");
                    fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
                } else {
                    $("#noStudents").removeClass("hide");
                }
            } else {
                alertify.error('{{ _("There was a problem loading the students") }}');
            }
        });
    }

    $(document).on("click", ".pag-button", {}, function () {
        var id = $(this).attr("data-id");

        if (id != "") {
            url = "/students/search?t={{ task.key.id() }}&sub=" + subId + "&o=" + id;

            $.get(url, function (data, status) {
                if (status == "success") {
                    if (data != "") {
                        $("#noStudents").addClass("hide");
                        $("#noStudentsSearch").addClass("hide");
                        $("#studentsTable").removeClass("hide");
                        fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
                    } else {
                        $("#noStudents").removeClass("hide");
                    }
                } else {
                    alertify.error('{{ _("There was a problem loading the students") }}');
                }
            });
        }
    });

    $(document).on("click", "tbody > tr", {}, function () {

        lastSelected = $("tbody > tr.rowSelected");
        if(lastSelected) {
            normRow(lastSelected);
        }

        $(this).addClass("rowSelected");

        markTd =  $(this).children().next().next();
        mark = markTd.html();

        // Add the input to introduce the student's mark
        markTd.html("<input type='text' class='form-control mark-control' value='" + mark + "'/>" );

        // Select the previous mark (if exists)
        markTd.children().select();

        markControl = $(".mark-control");

        markControl.click(function(e) { e.stopPropagation() });

        markControl.keyup(function(e) {
            if(e.keyCode == 13) { // Enter key
                selected = $("tbody > tr.rowSelected");
                stId = selected.attr("data-id");

                if(validMark(markControl.val().replace(",", "."))) {
                    mark = (markControl.val()).replace(",", ".");
                    url = "/tasks/addnote/{{ task.key.id() }}/" + stId + "?mark=" + mark;

                    $.get(url, function (data, status) {
                        if(status == "success") {
                            alertify.success('{{ _("Mark added correctly") }}');
                        } else {
                            alertify.error('{{ _("There was an error submitting the mark") }}');
                        }
                    });

                } else {
                    alertify.error('{{ _("Mark not valid") }}');
                }
                normRow(selected);
            }
        });
    });

    $("#studentSearchButton").click(function () {
        s = $("#studentSearch").val().trim();
        if (s.length != 0) {
            url = "/students/search?sub=" + subId + "&s=" + s + "&t=" + taskId;

            $.get(url, function (data, status) {
                if(status == "success") {
                    if(data != "") {
                        fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
                    } else {
                        $("#noStudents").addClass("hide");
                        $("#noStudentsSearch").removeClass("hide");
                    }
                    searchingStudent = true;
                } else {
                    alertify.error('{{ _("There was a problem loading the students") }}';
                }
            });
        }
    });

    $("#studentSearch").keyup(function () {
        if(searchingStudent) {
            searchingStudent = false;
            initialStudentTableLoad();
        }
    });


</script>

{% endblock %}