{% extends '/view/base.html' %}

{% block title %}{{task.name}}{% endblock %}

{% block content %}


    <div class="card-title">{{subject.name}} > {{task.name}}</div>

    <div class="card">

        <div class="card-row row form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="studentSearch" name="student"
                       placeholder="Enter the student's name or dni">
            </div>

            <div class="col-sm-2">
                <a id="studentSearchButton" class="btn btn-default"><i class="fa fa-search"></i> Search</a>
            </div>
        </div>

        <table class="table table-hover hide" id="studentsTable">
            <thead>
            <tr>
                <th>Student name</th>
                <th>Student dni</th>
                <th>Mark</th>
            </tr>
            </thead>
            <tbody id="studentsTableBody">
            <!--{% for student, mark in students %}
            <tr data-id="{{ student.key.id() }}" class="with-pointer">
                <td>{{ student.name }}</td>
                <td>{{ student.dni }}</td>
                {% if mark == -1 %}
                <td>-</td>
                {% else %}
                <td>{{ mark }}</td>
                {% endif %}
            </tr>
            {% endfor %}-->
            </tbody>
        </table>
        <div id="studentsTableButtons"></div>
    </div>
{% endblock %}


{% block scripts %}
<script>
    var subId = "{{ subject.key.id() }}";
    var mark = "";

    // Deselect a row
    function normRow(row) {
        lastMarkTd = row.children().next().next();
        lastMarkTd.html(mark);
        lastSelected.removeClass("rowSelected");
    }

    function validMark(mark) {
        var maxMark = 10;

        try {
            markFloat = parseFloat(mark);
            return markFloat >= 0 && markFloat <= maxMark;
        }catch(err) {
            return false;
        }
    }

    function initialStudentTableLoad() {
        url = "/students/search?t={{ task.key.id() }}&sub=" + subId;

        $.get(url, function (data, status) {
            $("#studentsTable").removeClass("hide");
            fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
        });
    }

    function fillData(tableBody, tableButtons, data) {
        dataSp = data.split("\n\n");

        rows = dataSp[0].split("\n");
        bodyHtml = "";

        buttons = dataSp[1].split("\n");
        buttonsHtml = "";

        if(buttons[0] != "-1") {
            buttonsHtml += "<button class='btn btn-default pag-button' data-id='" + buttons[0] + "'>Previous</button>";
        }
        if(buttons[1] != "-1") {
            buttonsHtml += "<button class='btn btn-default pag-button' data-id='" + buttons[1] + "'>Next</button>";
        }

        for(var r in rows) {
            dataRow = rows[r].split("^^");
            id = dataRow[0];
            name = dataRow[1];
            dni = dataRow[2];
            mark = dataRow[3];

            bodyHtml += '<tr data-id=\"' + id + '\"><td>' + name + '</td><td>' + dni + '</td><td>' + ((mark=='-1')?'-':mark) + '</td></tr>';
            //bodyHtml += '<tr data-id=\"' + id + '\"><td>' + name + '</td><td>' + dni + '</td><td><img src=\"/img/delete.png\" class=\"img-icon icon-delete\" /></td></tr>';
            //bodyHtml += '<tr data-id=\"' + id + '\"><td>' + name + '</td><td>' + dni + '</td><td><img src=\"/img/delete.png\" class=\"img-icon icon-delete\" /></td></tr>';
        }
        tableBody.html(bodyHtml);
        tableButtons.html(buttonsHtml);
    }

    $(function() {
        initialStudentTableLoad();
    });

    $(document).on("click", ".pag-button", {}, function () {
        var id = $(this).attr("data-id");

        if (id != "") {
            url = "/students/search?t={{ task.key.id() }}&sub=" + subId + "&o=" + id;

            $.get(url, function (data, status) {
                fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
            });
        }
    });

    $(document).on("click", "tbody > tr", {}, function () {

        lastSelected = $("tbody > tr.rowSelected");
        if(lastSelected) {
            normRow(lastSelected);
        }

        $(this).addClass("rowSelected");

        markTd =  $(this).children().next().next();
        mark = markTd.html();

        // Add the input to introduce the student's mark
        markTd.html("<input type='text' class='form-control mark-control' value='" + mark + "'/>" );

        // Select the previous mark (if exists)
        markTd.children().select();

        markControl = $(".mark-control");

        markControl.click(function(e) { e.stopPropagation() });

        markControl.keyup(function(e) {
            if(e.keyCode == 13) { // Enter key
                selected = $("tbody > tr.rowSelected");
                stId = selected.attr("data-id");

                if(validMark(markControl.val().replace(",", "."))) {
                    mark = (markControl.val()).replace(",", ".");
                    url = "/tasks/addnote/{{ task.key.id() }}/" + stId + "?mark=" + mark;

                    $.get(url, function (data, status) {
                        alertify.success("Mark added correctly");
                    });

                } else {
                    alertify.error("Nota no valida");
                }
                normRow(selected);
            }
        });
    });


</script>

{% endblock %}