{% extends '/view/base.html' %}

{% block title %}{{ "Modify subject" if subject else "Create subject" }}{% endblock %}

{% block content %}

<form role="form" method="POST" name="subjectCreation">
    <div class="card-title">Subject data</div>

    <div class="card">

            <div class="form-group row card-row">
                <label class="control-label col-xs-2" for="name">Name:</label>

                <div class="col-xs-4">
                    <input type="text" class="form-control" id="name" name="name" value="{{ subject.name if subject else '' }}" placeholder="Enter name">
                </div>

                <!--<label class="control-label col-xs-2" for="pwd">Password:</label>

                <div class="col-xs-4">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>-->
            </div>


            <div class="form-group row card-row">
                <label for="description" class="col-xs-12">Description:</label>

                <div class="col-xs-12">
                    <textarea class="form-control col-xs-12" rows="5" id="description" name="description">{{ subject.description if subject else '' }}</textarea>
                </div>
            </div>

    </div>
    <!--<div class="form-group">
        <div class="checkbox col-xs-12">
            <label><input type="checkbox"> Remember me</label>
        </div>
    </div>-->

    <div class="card-title">Tasks</div>

    <div class="card" id="taskForm">
        <div class="form-group row card-row">
            <label class="col-xs-2 col-lg-1 control-label">Name</label>

            <div class="col-xs-4 col-lg-5">
                <input type="text" class="form-control" name="taskName" placeholder="Name" id="taskName"/>
            </div>
            <label class="col-xs-2 col-lg-1 control-label">Percent</label>

            <div class="col-xs-4 col-lg-5">
                <input type="number" class="form-control" name="taskPercent" placeholder="Percent" min="0" max="100"
                       id="taskPercent"/>
            </div>
        </div>

        <div class="form-group row card-row">
            <label class="col-xs-2 col-lg-1 control-label">Max mark</label>

            <div class="col-xs-4 col-lg-5">
                <input type="text" class="form-control" name="taskMaxMark" placeholder="Mark" id="taskMaxMark"/>
            </div>

            <div class="checkbox col-xs-6">
              <label class="checkbox-inline"><input type="checkbox" value="" name="taskInformative" id="taskInformative">Only informative</label>
              <label class="checkbox-inline"><input type="checkbox" value="" name="taskExtra" id="taskExtra">Extra points</label>
            </div>
        </div>

        <div class="form-group row card-row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default addButton pull-right"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>

        <table class="table table-hover hide">
            <thead>
            <tr>
                <th>Name</th>
                <th>Percent</th>
                <th>Max mark</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="hide" id="taskRowTemplate">
                <td name="taskRowName"></td>
                <td name="taskRowPercent"></td>
                <td name="taskRowMaxMark"></td>
                <td name="taskRowActions"><img src="/img/up.png" class="img-icon move-icon" name="up" /><img src="/img/down.png" class="img-icon move-icon" name="down" /><img src="/img/delete.png" class="img-icon icon-delete" /></td>
            </tr>
            </tbody>
        </table>

        <div class="card-row hide" id="percentSumMsg"><img src="/img/warning.png" class="img-icon" /> The sum of the percentages is greater than 100%.</div>

    </div>


    <div class="form-group row no-margin">
        <div class="col-xs-12">
            <button type="button" class="btn btn-default" onclick="if(validate()) document.forms['subjectCreation'].submit();">Submit</button>
        </div>
    </div>

    <div id="tasksData"></div>
</form>
{% endblock %}


{% block scripts %}
<script>
    var taskIndex = 0;
    var percSum = 0;
    var numTasks = 0;

    $(function () {
        {% for t in tasks %}
            addTask('{{ t.name | safe }}', '{{t.percent | safe }}', '{{t.maxmark | safe }}', '{{t.informative | safe }}', '{{t.extra | safe }}');
        {% endfor %}
    });

    function validate() {
        var subName = $("#name");

        if(subName.val().length == 0) {
            alertify.error("You must specify a subject name");
            return false;
        } else if(percSum < 100) {
            alertify.error("The percent sum can't be lower than 100%");
            return false;
        }
        return true;
    }

    function checkWarning() {
        if(percSum > 100) {
            $("#percentSumMsg").removeClass("hide");
        } else {
            $("#percentSumMsg").addClass("hide");
        }
    }

    function addTask(taskName, taskPercent, taskMaxMark, taskInformative, taskExtra) {
        var template = $('#taskRowTemplate');

        percSum += parseInt(taskPercent);
        numTasks += 1;
        checkWarning();

        var $clone = template
                .clone()
                .removeClass('hide')
                .removeAttr('id')
                .attr('data-task-index', taskIndex)
                .insertBefore(template);

        $("table").removeClass("hide");

        // Update the name attributes
        $clone
                .find('[name="taskRowName"]').attr('name', 'task[' + taskIndex + '].name').text(taskName).end()
                .find('[name="taskRowPercent"]').attr('name', 'task[' + taskIndex + '].percent').text(taskPercent + " %").end()
                .find('[name="taskRowMaxMark"]').attr('name', 'task[' + taskIndex + '].maxmark').text(taskMaxMark).end();
                //.find('[name="taskInformative"]').attr('name', 'task[' + taskIndex + '].informative').text(taskInformative).end()
                //.find('[name="taskExtra"]').attr('name', 'task[' + taskIndex + '].extra').text(taskIndex).end();

        $('<input>').attr({
            type: 'hidden',
            name: 'task[' + taskIndex + '].name',
            value: taskName
        }).appendTo('#tasksData');
        $('<input>').attr({
            type: 'hidden',
            name: 'task[' + taskIndex + '].percent',
            value: taskPercent
        }).appendTo('#tasksData');
        $('<input>').attr({
            type: 'hidden',
            name: 'task[' + taskIndex + '].maxmark',
            value: taskMaxMark
        }).appendTo('#tasksData');
        $('<input>').attr({
            type: 'hidden',
            name: 'task[' + taskIndex + '].informative',
            value: taskInformative
        }).appendTo('#tasksData');
        $('<input>').attr({
            type: 'hidden',
            name: 'task[' + taskIndex + '].extra',
            value: taskExtra
        }).appendTo('#tasksData');

        taskIndex++;
    }

    $('#taskForm').on('click', '.addButton', function () {

        var taskName = $('#taskName').val();
        var taskPercent = $('#taskPercent').val();
        var taskMaxMark = $('#taskMaxMark').val();
        var taskInformative = $('#taskInformative').is(':checked');
        var taskExtra = $('#taskExtra').is(':checked');

        addTask(taskName, taskPercent, taskMaxMark, taskInformative, taskExtra);
    });

    $(document).on('click', '.icon-delete', function () {
        //var taskPercent = $('#taskPercent').val();
        var taskRow = $(this).closest("tr");
        var taskIndex = taskRow.attr("data-task-index");
        var taskPercent = $("input[name='task[" + taskIndex + "].percent']").attr("value");

        percSum -= taskPercent;
        numTasks -= 1;
        checkWarning();

        // Delete task data
        $("input[name='task[" + taskIndex + "].name']").remove();
        $("input[name='task[" + taskIndex + "].percent']").remove();
        $("input[name='task[" + taskIndex + "].maxmark']").remove();
        $("input[name='task[" + taskIndex + "].informative']").remove();
        $("input[name='task[" + taskIndex + "].extra']").remove();

        // Hide the table if there isn't tasks
        if(percSum == 0) $("table").addClass("hide");

        // Deletion of elements
        taskRow.remove();
        $('task[' + taskIndex + '].name').remove();
        $('task[' + taskIndex + '].percent').remove();
    });

    $(document).on('click', '.move-icon', function () {
        var taskRow = $(this).closest("tr");
        var tasksData = $("#tasksData");
        var dir = $(this).attr("name");
        var currentNum = parseInt(taskRow.attr("data-task-index"));
        var num;

        // Set temporal values to the current row data
        var taskNameData = $("input[name='task[" + currentNum + "].name']").attr("name", "tmp");
        var taskPercentData = $("input[name='task[" + currentNum + "].percent']").attr("name", "tmp");
        var taskMaxMarkData = $("input[name='task[" + currentNum + "].maxmark']").attr("name", "tmp");
        var taskInformativeData = $("input[name='task[" + currentNum + "].informative']").attr("name", "tmp");
        var taskExtraData = $("input[name='task[" + currentNum + "].extra']").attr("name", "tmp");

        taskNameData.attr("name", "tmp");
        taskPercentData.attr("name", "tmp");
        taskMaxMarkData.attr("name", "tmp");
        taskInformativeData.attr("name", "tmp");
        taskExtraData.attr("name", "tmp");

        var hasNext = false;

        if(dir == "up") {
            // Get the nearest id less than the current
            num = currentNum-1;
            while(num >= 0 && $("input[name='task[" + num + "].name']").length == 0) num--;
            hasNext = num >= 0;
        } else if(dir == "down") {
            num = currentNum + 1;
            while(num < numTasks && $("input[name='task[" + num + "].name']").length == 0) num++;
            hasNext = num < numTasks;
        }
        if(hasNext) {
            // Exchage IDs and names
            var taskNameDataTmp = $("input[name='task[" + num + "].name']");
            var taskPercentDataTmp = $("input[name='task[" + num + "].percent']");
            var taskMaxMarkDataTmp = $("input[name='task[" + num + "].maxmark']");
            var taskInformativeDataTmp = $("input[name='task[" + num + "].informative']");
            var taskExtraDataTmp = $("input[name='task[" + num + "].extra']");

            taskNameDataTmp.attr("name", "task[" + currentNum + "].name");
            taskPercentDataTmp.attr("name", "task[" + currentNum + "].percent");
            taskMaxMarkDataTmp.attr("name", "task[" + currentNum + "].maxmark");
            taskInformativeDataTmp.attr("name", "task[" + currentNum + "].informative");
            taskExtraDataTmp.attr("name", "task[" + currentNum + "].extra");


            taskNameData.attr("name", "task[" + num + "].name");
            taskPercentData.attr("name", "task[" + num + "].percent");
            taskMaxMarkData.attr("name", "task[" + num + "].maxmark");
            taskInformativeData.attr("name", "task[" + num + "].informative");
            taskExtraData.attr("name", "task[" + num + "].extra");

            // Update row IDs
            if(dir == "up") {
                taskRow.prev().attr("data-task-index", currentNum);
                taskRow.attr("data-task-index", num);
                taskRow.after(taskRow.prev());
            } else {
                taskRow.next().attr("data-task-index", currentNum);
                taskRow.attr("data-task-index", num);
                taskRow.before(taskRow.next());
            }

        } else {
            taskNameData.attr("name", "task[" + currentNum + "].name");
            taskPercentData.attr("name", "task[" + currentNum + "].percent");
            taskMaxMarkData.attr("name", "task[" + currentNum + "].maxmark");
            taskInformativeData.attr("name", "task[" + currentNum + "].informative");
            taskExtraData.attr("name", "task[" + currentNum + "].extra");
        }
    });
</script>

{% endblock %}