{% extends '/view/base.html' %}

{% block title %}Calify{% endblock %}

{% block brandtext %}

{% endblock %}

{% block navitems %}
<li><a href="/subjects/create"><i class="fa fa-plus"></i> New</a></li>
<li class="visibleOnRowSelect hide"><a href="#" id="deleteAction"><i class="fa fa-times"></i> Delete</a></li>
{% endblock %}

{% block content %}

<div class="card-title">Subjects</div>
<div class="card">
    <table class="table table-hover no-sel hide" id="tableSubjects">
        <thead>
        <tr>
            <th>Name</th>
            <th>Coordinator</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <!--{% for subject in subjects %}

         <tr data-id="{{ subject.key.id() }}" class="with-pointer" onclick="window.document.location = '/subjects/view/{{ subject.key.id() }}'">
            <td>{{ subject.name }}</td>
            <td>{{ subject.name }}</td>
            <td><img src="/img/delete.png" class="img-icon icon-delete" /></td>
        </tr>

        {% endfor %}-->

        </tbody>
    </table>
</div>

<div id="tableButtons">
    {% if hasPrev %}
    <button class="btn btn-default" id="prevPage" data-id="{{ prevStr }}">Previous</button>
    {% endif %}

    {% if hasNext %}
    <button class="btn btn-default" id="nextPage" data-id="{{ nextStr }}">Next</button>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script>

    function fillData(data){
        dataSp = data.split("\n");
        rows = dataSp[0];
        buttons = dataSp[1];

        $("#tableBody").html(rows);
        $("#tableButtons").html(buttons);
    }

    $(function () {
        url = "/subjects/search";
        $.get(url, function (data, status) {
            $("#tableSubjects").removeClass("hide");
            fillData(data);
        });
    });


    $(".icon-delete").click(function (e) {
        e.stopPropagation();

        var row = $(this).closest("tr");
        var id = row.attr("data-id");
        var url = "/subjects/remove/" + id;

        alertify.confirm("Seguro?", function (e) {
            if (e) {

                $.post(url, function (data) {
                    alertify.success("Teacher erased correctly");
                    row.remove();
                });
            }
        });
    });

    $(document).on("click", "#prevPage", {}, function() {
        var id = $(this).attr("data-id");

        if(id != "") {
            url = "/subjects/search?c=prev&p=" + id;
            $.get(url, function (data, status) {
                fillData(data);
            });
        }
    });

    $(document).on("click", "#nextPage", {}, function() {
        var id = $(this).attr("data-id");

        if(id != "") {
            url = "/subjects/search?c=next&p=" + id;
            $.get(url, function (data, status) {
                fillData(data);
            });
        }
    });


</script>
{% endblock %}