{% extends '/view/base.html' %}

{% block title %}Calify{% endblock %}

{% block brandtext %}

{% endblock %}

{% block navitems %}
<li><a href="/subjects/create"><i class="fa fa-plus"></i> New</a></li>
<li class="visibleOnRowSelect hide"><a href="#" id="deleteAction"><i class="fa fa-times"></i> Delete</a></li>
{% endblock %}

{% block content %}

<div class="card-title">Subjects</div>
<div class="card">
    <div id="loading" class="text-center">
        <img src="/img/loader.gif" class="img-loading" />
    </div>
    <table class="table table-hover no-sel hide" id="subjectsTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Students</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="subjectsTableBody">
        <!--{% for subject in subjects %}

         <tr data-id="{{ subject.key.id() }}" class="with-pointer" onclick="window.document.location = '/subjects/view/{{ subject.key.id() }}'">
            <td>{{ subject.name }}</td>
            <td>{{ subject.name }}</td>
            <td><img src="/img/delete.png" class="img-icon icon-delete" /></td>
        </tr>

        {% endfor %}-->

        </tbody>
    </table>
</div>

<div id="tableButtons" class="pagination-wrapper"></div>

{% endblock %}

{% block scripts %}
<script>

    $(function () {
        initialSubjectTableLoad();
    });

    function initialSubjectTableLoad() {
        url = "/subjects/search";

        $.get(url, function (data, status) {
            $("#subjectsTable").removeClass("hide");
            $("#loading").addClass("hide");
            fillData($("#subjectsTableBody"), $("#tableButtons"), data);
            alert("Data: " + data + "\nStatus: " + status);
        });
    }

    function fillData(tableBody, tableButtons, data){
        dataSp = data.split("\n\n");

        rows = dataSp[0].split("\n");
        bodyHtml = "";

        buttons = dataSp[1].split("\n");
        buttonsHtml = "<ul class='pagination'>";

        pages = dataSp[2].split("\n");
        leftPage = parseInt(pages[0]);
        rightPage = parseInt(pages[1]);
        curPage = parseInt(pages[2]);
        itemsPerPage = parseInt(pages[3]);

        if(buttons[0] != "-1") buttonsHtml += "<li class='with-pointer pag-button' data-id='" + buttons[0] + "'>&laquo;</li>";
        if(buttons[0] != "-1" || buttons[1] != "-1") {
            for(var i=leftPage; i <= rightPage; i+= itemsPerPage) {
                buttonsHtml += "<li class='with-pointer pag-button" + ((i==curPage)?" active":"") + "' data-id='" + i + "'>" + (i/itemsPerPage+1) + "</li>";
            }
        }
        if(buttons[1] != "-1") buttonsHtml += "<li class='with-pointer pag-button' data-id='" + buttons[1] + "'>&raquo;</li>";

        buttonsHtml += "</ul>";

        for(var r in rows) {
            dataRow = rows[r].split("^^");
            id = dataRow[0];
            name = dataRow[1];
            dni = dataRow[2];

            bodyHtml += '<tr data-id=\"' + id + '\" class="with-pointer" onclick="window.document.location = \'/subjects/view/' + id + '\'"><td>' + name + '</td><td>' + dni + '</td><td><img src=\"/img/edit.png\" class=\"img-icon\"  onclick=\"window.document.location = \'/subjects/modify/' + id + '\'"/><img src=\"/img/delete.png\" class=\"img-icon icon-delete\" /></td></tr>';
        }

        tableBody.html(bodyHtml);
        tableButtons.html(buttonsHtml);

        $(".img-icon").click(function(e) {
            e.stopPropagation();
        });

        // Handler for the delete button
        $(".icon-delete").click(function(e) {
            var row = $(this).closest("tr");
            var id = row.attr("data-id");
            var url = "/subjects/remove/" + id;

            alertify.confirm("Seguro?", function (e) {
                if (e) {
                    $.post(url, function (data) {
                        alertify.success("Teacher erased correctly");
                        row.remove();
                        initialSubjectTableLoad();
                    });
                }
            });
        });
    }


    $(document).on("click", ".pag-button", {}, function () {
        var id = $(this).attr("data-id");

        if (id != "") {
            url = "/subjects/search?o=" + id;
            $.get(url, function (data, status) {
                fillData($("#subjectsTableBody"), $("#tableButtons"), data);
            });
        }
    });


</script>
{% endblock %}