{% extends '/view/base.html' %}

{% block title %}Calify{% endblock %}

{% block brandtext %}

{% endblock %}

{% block navitems %}
<li><a href="/subjects/create"><i class="fa fa-plus"></i> New</a></li>
<li class="visibleOnRowSelect hide"><a href="#" id="deleteAction"><i class="fa fa-times"></i> Delete</a></li>
{% endblock %}

{% block content %}

<div class="card-title">Subjects</div>
<div class="card">
    <table class="table table-hover no-sel">
        <thead>
        <tr>
            <th>Name</th>
            <th>Coordinator</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}

        <tr data-id="{{ subject.key.id() }}" onclick="window.document.location = '/subjects/view/{{ subject.key.id() }}'">
            <td>{{ subject.name }}</td>
            <td>{{ subject.name }}</td>
            <td><img src="/img/delete.png" class="img-icon icon-delete" /></td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(".icon-delete").click(function (e) {
        e.stopPropagation();

        var row = $(this).closest("tr");
        var id = row.attr("data-id");
        var url = "/subjects/remove/" + id;
        alert(url);

        alertify.confirm("Seguro?", function (e) {
            if (e) {

                $.post(url, function (data) {
                    alertify.success("Teacher erased correctly");
                    row.remove();
                });
            }
        });
    });
</script>
{% endblock %}