{% extends '/view/base.html' %}


{% block title %}{{ sub.name }}{% endblock %}

{% block brandtext %}
<!--&nbsp; - &nbsp;{{ sub.name }} -->
{% endblock %}

{% block navitems %}

{% endblock %}


{% block content %}

<div class="card card-info row" id="card-info">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
        <div class="card-info-title">
            <h4>{{ sub.name }} <span class="pull-right"><a href="/subjects/modify/{{ sub.key.id() }}"  class="sides-margin"><i class="fa fa-pencil"></i></a><a href="/subjects/export/{{ sub.key.id()}}" class="sides-margin"><i class="fa fa-download"></i></a></span></h4> </div>
        <!--<div><b>Description: </b>{{ sub.description }}</div>-->
    </div>

</div>

<div class="row card-fixed-container">
    <div class="col-xs-12 col-sm-4 no-margin">
        <div class="card-fixed card-fixed-active text-center with-pointer" id="tasksTab">
            <img src="/img/card-img-task.png" class="card-fixed-img"><span class="card-fixed-text"> {{ _("Tasks") }}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 no-margin">
        <div class="card-fixed text-center with-pointer" id="studentsTab">
            <img src="/img/card-img-user.png" class="card-fixed-img"><span class="card-fixed-text"> {{ _("Students") }}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 no-margin">
        <div class="card-fixed text-center with-pointer" id="teachersTab">
            <img src="/img/card-img-user.png" class="card-fixed-img"><span class="card-fixed-text"> {{ _("Teachers") }}</span>
        </div>
    </div>
</div>

<div class="content" id="tasksContents">
    <div class="card">
        <table class="table table-hover" id="tableTasks">
            <thead>
            <tr>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Percent") }}</th>
                <th>{{ _("Actions") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr data-id="{{ task.key.id() }}" class="with-pointer"
                onclick="window.document.location = '/tasks/calify/{{ task.key.id() }}'">
                <td>{{ task.name }}</td>
                <td>{{ task.percent }} %</td>
                <td><img src="/img/delete.png" class="img-icon icon-delete"/></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="content hide" id="studentsContents">
    <div class="card">
        <div class="expandable-click" data-expanded="0">
            <img src="/img/dropdown.png" class="img-icon rotated"
                 id="dropDownImg"> {{ _("Add students") }}
        </div>
        <div class="expandable-data">
            <form method="POST" action="/subjects/addstudents/{{ sub.key.id() }}" enctype="multipart/form-data" name="addStudentsForm">
                <div class="radio expandable-radio">
                    <label><input type="radio" name="optAddStudents" value="file">{{ _("From file") }}</label>
                </div>
                <div class="expandable-data">
                    <div class="form-group row">
                        <label class="control-label col-sm-1" for="filename">{{ _("File name") }}:</label>

                        <div class="col-sm-5">
                            <input type="file" class="form-control" id="filename" name="filename">
                        </div>

                        <label class="control-label col-sm-1" for="separator">{{ _("Separator") }}:</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="separator" name="separator" value=";">
                        </div>
                    </div>
                </div>

                <div class="radio expandable-radio">
                    <label><input type="radio" name="optAddStudents" value="manual">{{ _("Manually") }}</label>
                </div>
                <div class="expandable-data">
                    <div class="form-group row">
                        <label class="control-label col-sm-1" for="name">{{ _("Name") }}:</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Enter the student's name">
                        </div>

                        <label class="control-label col-sm-1" for="dni">{{ _("DNI") }}:</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="dni" name="dni" placeholder="Enter DNI">
                        </div>
                    </div>

                </div>

                <div class="expandable-data">
                    <!-- TODO -->
                </div>

                <div class="text-right">
                    <button type="button" onclick="if(validateManualStudent()) document.forms['addStudentsForm'].submit();" class="btn btn-default">{{ _("Add") }}</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div id="loading" class="text-center">
            <img src="/img/loader.gif" class="img-loading" />
        </div>
        <div class="card-row row form-group hide" id="studentSearchGroup">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="studentSearch" name="student"
                       placeholder="Enter the student's name or dni">
            </div>

            <div class="col-sm-2">
                <a id="studentSearchButton" class="btn btn-default"><i class="fa fa-search"></i> {{ _("Search") }}</a>
            </div>
        </div>
        {% if sub.students %}
        <table class="table table-hover hide" id="tableStudents">
            <thead>
            <tr>
                <th>Name</th>
                <th>DNI</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="studentsTableBody">
            <!--{% for st in students %}
            <tr data-id="{{ st.key.id() }}">
                <td>{{ st.name }}</td>
                <td>{{ st.dni }}</td>
                <td><img src="/img/delete.png" class="img-icon icon-delete"/></td>
            </tr>
            {% endfor %}-->
            </tbody>
        </table>
        {% else %}
        <div id="noStudents" class="hide">{{ _("There aren't students in this subject yet") }}.</div>
        {% endif %}
        <div class="card-row pagination-wrapper" id="studentsTableButtons"></div>
    </div>
</div>

<div class="content hide" id="teachersContents">
    <div class="card">
        <form action="/subjects/addteacher/{{ sub.key.id() }}" method="POST">
            <div class="card-row row form-group">
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="teacherSearch" name="teacherEmail"
                           placeholder="Enter the teacher's email">

                    <div class="searchResults hide" id="teacherResults"></div>
                </div>

                <div class="col-sm-2">
                    <input type="submit" class="form-control" name="name" value="Add">
                </div>
            </div>
        </form>
        <div class="card-row">
            {% if teachers %}
            <table class="table table-hover" id="tableTeachers">
                <thead>
                <tr>
                    <th>{{ _("Name") }}</th>
                    <th>{{ _("Email") }}</th>
                    <th>{{ _("Actions") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for t in teachers %}
                <tr onclick="window.document.location = '/profile/{{ t.key.id() }}'"  data-id="{{ t.key.id() }}">
                    <td>{% if t.name %}{{ t.name }}{% else %}-{% endif %}</td>
                    <td>{{ t.email }}</td>
                    <td><img src="/img/delete.png" class="img-icon icon-delete"/></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        {{ _("There aren't teachers in this subject") }}.
        {% endif %}
    </div>
</div>


{% endblock %}

{% block scripts %}

<script>

    var subId = "{{ sub.key.id() }}";
    var searchingStudent = false;

    $(function () {
        $(".expandable-data").slideUp('fast');
        $("input[name='optAddStudents']").prop('checked', false);

        initialStudentTableLoad();
        updateViewAnimations();

        $(window).resize(function () {
            updateViewAnimations();
        });
    });

    function updateViewAnimations() {
        width = $(window).width();

        if (width < 768) {
            $("#tasksTab").removeClass("card-fixed").removeClass("card-fixed-reduced").addClass("card-fixed-reduced");
            $("#studentsTab").removeClass("card-fixed").removeClass("card-fixed-reduced").addClass("card-fixed-reduced");
            $("#teachersTab").removeClass("card-fixed").removeClass("card-fixed-reduced").addClass("card-fixed-reduced");
            $(".card-fixed-container > div").addClass("no-padding");
            $("#card-info").removeClass("card-info").removeClass("card-info-reduced").addClass("card-info-reduced");
        }
        else {
            $("#tasksTab").removeClass("card-fixed").removeClass("card-fixed-reduced").addClass("card-fixed");
            $("#studentsTab").removeClass("card-fixed").removeClass("card-fixed-reduced").addClass("card-fixed");
            $("#teachersTab").removeClass("card-fixed").removeClass("card-fixed-reduced").addClass("card-fixed");
            $(".card-fixed-container > div").removeClass("no-padding");
            $("#card-info").removeClass("card-info").removeClass("card-info-reduced").addClass("card-info");
        }
    }


    // Charge initial data to the students table
    function initialStudentTableLoad() {
        url = "/students/search?sub=" + subId;
        $.get(url, function (data, status) {
            $("#loading").addClass("hide");
            if(status == "success") {
                if(data != "") {
                    $("#tableStudents").removeClass("hide");
                    $("#studentSearchGroup").removeClass("hide");
                    fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
                } else {
                    $("#noStudents").removeClass("hide");
                }
            } else {
                alertify.error('{{ _("There was a problem loading the students") }}');
            }
        });
    }

    function fillData(tableBody, tableButtons, data) {
        dataSp = data.split("\n\n");

        rows = dataSp[0].split("\n");
        bodyHtml = "";

        buttons = dataSp[1].split("\n");
        buttonsHtml = "<ul class='pagination'>";

        pages = dataSp[2].split("\n");
        leftPage = parseInt(pages[0]);
        rightPage = parseInt(pages[1]);
        curPage = parseInt(pages[2]);
        itemsPerPage = parseInt(pages[3]);

        if(buttons[0] != "-1") buttonsHtml += "<li class='with-pointer pag-button' data-id='" + buttons[0] + "'>&laquo;</li>";
        if(buttons[0] != "-1" || buttons[1] != "-1") {
            for(var i=leftPage; i <= rightPage; i+= itemsPerPage) {
                buttonsHtml += "<li class='with-pointer pag-button" + ((i==curPage)?" active":"") + "' data-id='" + i + "'>" + (i/itemsPerPage+1) + "</li>";
            }
        }
        if(buttons[1] != "-1") buttonsHtml += "<li class='with-pointer pag-button' data-id='" + buttons[1] + "'>&raquo;</li>";

        buttonsHtml += "</ul>";

        for(var r in rows) {
            dataRow = rows[r].split("^^");
            id = dataRow[0];
            name = dataRow[1];
            dni = dataRow[2];

            bodyHtml += '<tr data-id=\"' + id + '\"><td>' + name + '</td><td>' + dni + '</td><td><img src=\"/img/delete.png\" class=\"img-icon icon-delete\" /></td></tr>';
        }

        tableBody.html(bodyHtml);
        tableButtons.html(buttonsHtml);


        // Handler for the delete button
        $(".icon-delete").click(function (e) {
            e.stopPropagation();

            var row = $(this).closest("tr");
            var id = row.attr("data-id");
            var tableId = $(this).closest("table").attr("id");

            if (tableId == "tableStudents") {
                url = "/subjects/removestudent/{{sub.key.id()}}?studentId=" + id;
            } else if (tableId == "tableTeachers") {
                url = "/subjects/removeteacher/{{sub.key.id()}}?teacherId=" + id;
            } else if (tableId == "tableTasks") {
                url = "/subjects/removetask/{{sub.key.id()}}?taskId=" + id;
            }

            $.post(url, function (data, status) {

                if(status == "success") {
                    alertify.success('{{ _("Student erased correctly") }}');
                    row.remove();
                    initialStudentTableLoad();
                } else {
                    alertify.error('{{ _("There was a problem deleting the subject") }}');
                }
            });
        });
    }

    $(document).on("click", ".pag-button", {}, function () {
        var id = $(this).attr("data-id");

        if (id != "") {
            url = "/students/search?sub=" + subId + "&o=" + id;
            $.get(url, function (data, status) {
                if(status == "success") {
                    if(data != "") {
                        fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
                    } else {
                        $("#noStudents").removeClass("hide");
                    }
                } else {
                    alertify.error('{{ _("There was a problem loading the students") }}');
                }
            });
        }
    });

    function validateManualStudent() {
        var optSelected = $("input[type=radio]:checked").attr("value");
        if (optSelected == "manual") {
            var dni = $("#dni").val().trim().toUpperCase();
            var name = $("#name").val().trim();

            if (name == "") {
                alertify.error('{{ _("It\'s necessary to specify a name") }}');
                return false;
            } else if(!validDni(dni)) {
                alertify.error('{{ _("DNI not valid") }}');
                return false;
            }
        }
        return true;
    }

    function validDni(dni) {
        var letters = "TRWAGMYFPDXBNJZSQVHLCKE";
        return dni.search(/^[0-9]{8}[A-Z]$/i) != -1 && letters[parseInt(dni.substr(0,8)) % 23] == dni.substr(8);
    }

    /*$(document).on("click", "#prevPage", {}, function () {
        var id = $(this).attr("data-id");

        if (id != "") {
            url = "/students/search?sub=" + subId + "&c=prev&p=" + id;
            $.get(url, function (data, status) {
                fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
            });
        }
    });

    $(document).on("click", "#nextPage", {}, function () {
        var id = $(this).attr("data-id");

        if (id != "") {
            url = "/students/search?sub=" + subId + "&c=next&p=" + id;
            $.get(url, function (data, status) {
                fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
            });
        }
    });*/



    $("#studentSearchButton").click(function () {
        s = $("#studentSearch").val().trim();
        if (s.length != 0) {
            url = "/students/search?sub=" + subId + "&s=" + s;
            $.get(url, function (data, status) {
                searchingStudent = true;
                fillData($("#studentsTableBody"), $("#studentsTableButtons"), data);
            });
        }
    });

    $("#studentSearch").keyup(function () {
        if(searchingStudent) {
            searchingStudent = false;
            initialStudentTableLoad();
        }
    });

    $(".card-fixed").click(function () {
        $(".card-fixed").removeClass("card-fixed-active");
        $(this).addClass("card-fixed-active");

        $(".content").addClass("hide");

        $("#" + $(this).attr("id").slice(0, -3) + "Contents").removeClass("hide")
    });

    $(".expandable-click").click(function () {
        if ($(this).attr("data-expanded") == "0") {
            $(this).attr("data-expanded", "1");
            $(this).next().slideDown();
            $("#dropDownImg").removeClass("rotated");
        } else {
            $(this).attr("data-expanded", "0");
            $(this).next().slideUp();
            $("#dropDownImg").addClass("rotated");
        }
    });

    $(".expandable-radio").change(function () {
        $(".expandable-radio").next().slideUp();
        $(this).next().slideDown();
    });

    $("#teacherSearch").keyup(function () {
        s = $("#teacherSearch").val();
        if (s.length > 2) {
            $.get("/teachers/search?s=" + s, function (data, status) {
                $("#teacherResults").removeClass("hide").html(data);
                //alert("Data: " + data + "\nStatus: " + status);

                $(".searchResult").click(function () {
                    $("#teacherSearch").val($(this).html());
                    $("#teacherResults").addClass("hide");
                });
            });
        } else {
            $("#teacherResults").addClass("hide");
        }

    });


</script>
{% endblock %}
