{% extends '/view/base.html' %}


{% block title %}Crear asignatura{% endblock %}

{% block brandtext %}
&nbsp; - &nbsp;{{ sub.name }}
{% endblock %}

{% block navitems %}

{% endblock %}


{% block content %}

<div class="row card-fixed-container">
    <div class="col-xs-4 no-margin">
        <div class="card-fixed card-fixed-active text-center" id="tasksTab">
            <img src="/img/card-img-task.png" class="card-fixed-img"><span class="card-fixed-text"> Tasks</span>
        </div>
    </div>
    <div class="col-xs-4 no-margin">
        <div class="card-fixed text-center" id="studentsTab">
            <img src="/img/card-img-user.png" class="card-fixed-img"><span class="card-fixed-text"> Students</span>
        </div>
    </div>
    <div class="col-xs-4 no-margin">
        <div class="card-fixed text-center" id="teachersTab">
            <img src="/img/card-img-user.png" class="card-fixed-img"><span class="card-fixed-text"> Teachers</span>
        </div>
    </div>
</div>

<div class="content" id="tasksContents">
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Percent</th>
                <th>***</th>
            </tr>
            </thead>
            <tbody>
            {% for task in sub.tasks() %}
            <tr onclick="window.document.location = '/tasks/calify/{{ task.key.id() }}'">
                <td>{{ task.name }}</td>
                <td>{{ task.percent }}%</td>
                <td>***</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<div class="content hide" id="studentsContents">
    <div class="card">
        <div class="expandable-click" data-expanded="0">
            <img src="/img/dropdown.png" class="dropdown-img rotated"
                 id="dropDownImg"> Add students
        </div>
        <div class="expandable-data">
            <form method="POST" action="/subjects/addstudents/{{ sub.key.id() }}" enctype="multipart/form-data">
                <div class="radio expandable-radio">
                    <label><input type="radio" name="optAddStudents" value="file">From file</label>
                </div>
                <div class="expandable-data">
                    <div class="form-group row">
                        <label class="control-label col-sm-1" for="filename">File name:</label>

                        <div class="col-sm-5">
                            <input type="file" class="form-control" id="filename" name="filename">
                        </div>

                        <label class="control-label col-sm-1" for="separator">Separator:</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="separator" name="separator" value=";">
                        </div>
                    </div>
                </div>

                <div class="radio expandable-radio">
                    <label><input type="radio" name="optAddStudents" value="manual">Manually</label>
                </div>
                <div class="expandable-data">
                    <div class="form-group row">
                        <label class="control-label col-sm-1" for="name">Name:</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Enter the student's name">
                        </div>

                        <label class="control-label col-sm-1" for="dni">DNI:</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="dni" name="dni" placeholder="Enter DNI">
                        </div>
                    </div>

                </div>

                <div class="radio disabled">
                    <label><input type="radio" name="optAddStudents" value="subject" disabled>From another
                        subject</label>
                </div>
                <div class="expandable-data">
                    sadfasdf
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        {% if sub.students %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>DNI</th>
                <th>***</th>
            </tr>
            </thead>
            <tbody>
            {% for st in students %}
            <tr>
                <td>{{ st.name }}</td>
                <td>{{ st.dni }}</td>
                <td>***</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        There aren't students in this subject yet.
        {% endif %}
    </div>
</div>

<div class="content hide" id="teachersContents">
    <div class="card">
        <form action="/subjects/addteacher/{{ sub.key.id() }}" method="POST">
            <div class="card-row row form-group">
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="teacherSearch" name="teacherEmail"
                           placeholder="Enter the teacher's email">

                    <div class="searchResults hide" id="teacherResults">asdf</div>
                </div>

                <div class="col-sm-2">
                    <input type="submit" class="form-control" name="name" value="Add">
                </div>
            </div>
        </form>
        <div class="card-row">
            {% if teachers %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>***</th>
                </tr>
                </thead>
                <tbody>
                {% for t in teachers %}
                <tr>
                    <td>{{ t.name }}</td>
                    <td>{{ t.email }}</td>
                    <td>***</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        There aren't teachers in this subject.
        {% endif %}
    </div>
</div>


{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {
        $(".expandable-data").slideUp('fast');
        $("input[name='optAddStudents']").prop('checked', false);
    });
    $(".card-fixed").click(function () {
        $(".card-fixed").removeClass("card-fixed-active");
        $(this).addClass("card-fixed-active");

        $(".content").addClass("hide");

        $("#" + $(this).attr("id").slice(0, -3) + "Contents").removeClass("hide")
    });
    $(".expandable-click").click(function () {
        if ($(this).attr("data-expanded") == "0") {
            $(this).attr("data-expanded", "1");
            $(this).next().slideDown();
            $("#dropDownImg").removeClass("rotated");
        } else {
            $(this).attr("data-expanded", "0");
            $(this).next().slideUp();
            $("#dropDownImg").addClass("rotated");
        }
    });
    $(".expandable-radio").change(function () {
        $(".expandable-radio").next().slideUp();
        $(this).next().slideDown();
    });
    $("#teacherSearch").keyup(function () {
        s = $("#teacherSearch").val();
        if (s.length > 2) {
            $.get("/teachers/search?s=" + s, function (data, status) {
                $("#teacherResults").removeClass("hide").html(data);
                //alert("Data: " + data + "\nStatus: " + status);

                $(".searchResult").click(function () {
                    $("#teacherSearch").val($(this).html());
                    $("#teacherResults").addClass("hide");
                });
            });
        } else {
            $("#teacherResults").addClass("hide");
        }

    });

</script>
{% endblock %}
