{% extends '/view/base.html' %}

{% block title %}{{ username }}{% endblock %}

{% block brandtext %}

{% endblock %}

{% block navitems %}

{% endblock %}

{% block content %}
<div class="card-title"> {{ _("Profile") }}</div>
<div class="card row">
    <div class="prof-info">
        <div class="col-xs-3 col-xs-offset-2">
            <img src="/profile/img?id={{ teacher.key.id() }}" class="img-rounded img-responsive img-profile prof-img with-pointer" id="profileImg" />
        </div>
        <div class="col-xs-5">
            <form action="/profile/modify" method="POST" id="profileForm" enctype="multipart/form-data">
                <div class="prof-info-item">
                {% if own %}
                <label for="nameGroup">{{ _("Name") }}: </label>
                <div class="input-group" id="nameGroup">
                   <input type="text" class="form-control" id="name" name="name"
                       value="{{ teacher.name if teacher.name else '' }}" placeholder="{{ _('Enter your name here') }}">
                   <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-pencil"></i> {{ _("Modify") }}</button>
                   </span>
                </div>
                {% else %}
                <span>{{ _("Name") }}:</span> {{ teacher.name if teacher.name else "-"}}
                {% endif %}
                </div>
                <div class="prof-info-item"><span>{{ _("Email") }}:</span> {{ teacher.email }}</div>
                <div class="prof-info-item"><span>{{ _("Subjects") }}:</span> {{ subjects }}</div>
                <div><input type="file" name="img" class="hide" onchange="$('#profileForm').submit();" id="imageFileInput"/></div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $('#profileImg').click(function() {
        $('#imageFileInput').trigger('click');
    });
</script>

{% endblock %}