{% extends '/view/base.html' %}

{% block title %}Calify{% endblock %}

{% block brandtext %}

{% endblock %}

{% block navitems %}

{% endblock %}

{% block content %}

<div class="card-title"> {{ _("Statistics") }} </div>
<div class="card row">
    <div class="col-xs-12 col-md-6">
        <canvas id="canvasBarsNumStudents"></canvas>
    </div>
    <hr class="visible-xs">
    <div class="col-xs-12 col-md-6">
        <canvas id="canvasPie"></canvas>
    </div>
    <div class="col-xs-12 col-md-6">
        <canvas id="canvasBarsMeanMarks"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };
    var randomColorFactor = function () {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function () {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
    };

    var barChartDataNumStudents = {

        labels:{{ subjects | safe }},
        datasets: [{
            label: '{{ _("Students") }}',
            backgroundColor: [randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor()],
            data: {{ studentsBySubject | safe }}
        }]

    };

    var barChartDataMeanMarks = {

        labels:{{ subjects | safe }},
        datasets: [{
            label: '{{ _("Mean mark") }}',
            backgroundColor: [randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor()],
            data: {{ avgMarkBySubject | safe }}
        }]

    };

    {% if showMarksByRanges %}
    var configPie = {
        type: 'pie',
        data: {
            datasets: [{
                data: {{ marksByRanges | safe }},
                backgroundColor: [
                    "#4D5360",
                    "#949FB1",
                    "#FDB45C",
                    "#46BFBD",
                    "#F7464A"
                ]
            }],
            labels: [
                '{{ _("Insufficient") }}',
                '{{ _("Enough") }}',
                '{{ _("Right") }}',
                '{{ _("Remarkable") }}',
                '{{ _("Outstanding") }}'
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: '{{ _("Marks ranges") }}'
            }, animateScale : true
        }
    };
    {% endif %}



    barChart = "";

    window.onload = function () {
        var ctxBarsNumStudents = document.getElementById("canvasBarsNumStudents").getContext("2d");
        var ctxBarsMeanMarks = document.getElementById("canvasBarsMeanMarks").getContext("2d");

        barChartNumStudents = new Chart(ctxBarsNumStudents, {
            type: 'bar',
            data: barChartDataNumStudents,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: '{{ _("Students by subject") }}'
                }
            }
        });

        barChartMeanMark = new Chart(ctxBarsMeanMarks, {
            type: 'bar',
            data: barChartDataMeanMarks,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: '{{ _("Mean mark by subject") }}'
                }
            }
        });

        //var myPieChart = new Chart(ctxPie).Pie(data,options);
        {% if showMarksByRanges %}
        var ctxPie = document.getElementById("canvasPie").getContext("2d");
        new Chart(ctxPie, configPie);
        {% endif %}

    };


</script>
{% endblock %}