{% extends '/view/base.html' %}

{% block title %}Calify{% endblock %}

{% block brandtext %}

{% endblock %}

{% block navitems %}

{% endblock %}

{% block content %}

<div class="card-title"> Statistics </div>
<div class="card row">
    <div class="col-xs-6">
        <canvas id="canvasBars"></canvas>
    </div>
    <div class="col-xs-6">
        <canvas id="canvasPie"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };
    var randomColorFactor = function () {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function () {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
    };

    var barChartData = {

        labels:{{ subjects | safe }},
        datasets: [{
            label: 'Students',
            backgroundColor: [randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor()],
            data: {{ studentsBySubject | safe }}
        }]

    };

    {% if showMarksByRanges %}
    var configPie = {
        type: 'pie',
        data: {
            datasets: [{
                data: {{ marksByRanges | safe }},
                backgroundColor: [
                    "#4D5360",
                    "#949FB1",
                    "#FDB45C",
                    "#46BFBD",
                    "#F7464A"
                ]
            }],
            labels: [
                "Insufficient",
                "Enough",
                "Right",
                "Remarkable",
                "Outstanding"
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Marks ranges'
            }, animateScale : true
        }
    };
    {% endif %}

    window.onload = function () {
        var ctxBars = document.getElementById("canvasBars").getContext("2d");

        window.myBar = new Chart(ctxBars, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Students by subject'
                }
            }
        });

        //var myPieChart = new Chart(ctxPie).Pie(data,options);
        {% if showMarksByRanges %}
        var ctxPie = document.getElementById("canvasPie").getContext("2d");
        new Chart(ctxPie, configPie);
        {% endif %}
    };
</script>
{% endblock %}