{% extends '/view/base.html' %}

{% block title %}Calify{% endblock %}

{% block brandtext %}

{% endblock %}

{% block navitems %}

{% endblock %}

{% block content %}

<div class="card">
    <div id="container" style="width: 50%; height: 25%;">
        <canvas id="canvas" height="450" width="600"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };
    var randomColorFactor = function () {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function () {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
    };

    var barChartData = {
        labels:{{ subjects | safe }},
        datasets: [{
            label: 'Students',
            backgroundColor: [randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor(),randomColor()],
            data: {{ studentsBySubject | safe }}
        }]

    };

    function updateLegend() {
        $legendContainer = $('#legendContainer');
        $legendContainer.empty();
        $legendContainer.append(window.myBar.generateLegend());
    }

    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Students by subject'
                }
            }
        });

        updateLegend();
    };
</script>
{% endblock %}